.p-d-flex {
    display: flex !important;
}

.p-ai-center {
    align-items: center !important;
}

.p-jc-between {
    justify-content: space-between !important;
}

.p-mr-2 {
    margin-right: .5rem !important;
}

.p-mb-2 {
    margin-bottom: .5rem !important;
}
